<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.1.3/hamburgers.min.css" integrity="sha512-+mlclc5Q/eHs49oIOCxnnENudJWuNqX5AogCiqRBgKnpoplPzETg2fkgBFVC6WYUVxYYljuxPNG8RE7yBy1K+g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Los Rikolinos - Detalle del producto</title>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Indie+Flower&family=Pacifico&family=Permanent+Marker&family=Roboto:ital,wght@1,100&family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat&family=Indie+Flower&family=Pacifico&family=Permanent+Marker&family=Roboto:ital,wght@1,100&family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" type="image/x-icon" href="../../../img/favicon.ico">

</head>
<body>

    <!-- Inicio del Header -->

    <%- include('../partials/header')  %> 

    <!-- Fin del Header -->

    <!-- Inicio del Main -->
    
    <main>

        <div class="container-h2">
            <h2>Detalles del producto</h2>
        </div>

        <section class="container-productDetail">
            
            <div class="container-img">
                <img src="/img/products/<%=detail.image%> " alt="<%= detail.imgDescription %> ">
            </div>

            <div class="container-description">
                <h2><%= detail.title  %> </h2>
                    <div class="description">
                        <p>
                            <%= detail.description  %> 
                        </p>
                    </div>
                <div class="container-precio">
                    <p>Precio</p>
                    <p>$<%= detail.price  %> ,00</p>
                </div>

                

                <div class="container-sumador_addCart">
                    
                    
                    <div class="container-sumador">
                        <button>-</button>
                        <p>1</p>
                        <button>+</button>
                    </div>    

                    <div class="container-addCart">
                        
                        <button>
                            Añadir a carrito
                        </button> 
                        
                    </div>
                </div>

            </div>

        </section>



        <div class="container-h2">
            <h2>Proba otras opciones</h2>
        </div>

        <section class="conteiner-especialidades">    

                <div class="productos">
                        <h3>Pizza</h3>
                        <img src="/img/products/pizza.jpeg" alt="">  
                        <div class="PrecioProduc">
                        <p>Pizza de toda variedad, para compartir </p> 
                        </div>
                </div>

                <div class="productos">
                        <h3>Parrilla</h3>
                        <img src="/img/products/parrillada.jpg" alt="">
                        <div class="PrecioProduc">
                        <p>Disfrute una de las mejores parrilas del pais</p>                    
                        </div>
                </div>

                <div class="productos">
                        <h3>Postres</h3>
                        <img src="/img/products/helado.jpg" alt=""> 
                        <div class="PrecioProduc">
                        <p>Postres unicos exquisitos y originales</p>
                        </div>                    
                </div>

                <div class="productos">
                    <h3>Bebidas</h3>
                    <img src="/img/products/bebidas.jpg" alt=""> 
                    <div class="PrecioProduc">
                    <p>Bebidas de todo tipo para acompañar tus comidas</p> 
                    </div>                    
                </div>

        </section>

    </main>

    <!-- Fin de Main -->

    <!-- Inicio del Footer -->
    
    <%- include('../partials/footer')  %> 

    <!-- Fin del Footer -->
    <script src = "js/index_Dom.js" type = "module"></script>
    <script src = "js/Menu.js" type = "module"></script>
</body>
</html>