<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Vista de edicion de productos</title>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Indie+Flower&family=Pacifico&family=Permanent+Marker&family=Roboto:ital,wght@1,100&family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat&family=Indie+Flower&family=Pacifico&family=Permanent+Marker&family=Roboto:ital,wght@1,100&family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/css/productEdition.css">

    <link rel="shortcut icon" type="image/x-icon" href="../../../img/favicon.ico">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.1.3/hamburgers.min.css"
    integrity="sha512-+mlclc5Q/eHs49oIOCxnnENudJWuNqX5AogCiqRBgKnpoplPzETg2fkgBFVC6WYUVxYYljuxPNG8RE7yBy1K+g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
    <link rel="stylesheet" href="/css/styles.css" />

    
</head>
<body>

    <!-- Inicio del Header -->

    <%- include('../partials/header')  %> 

    <!-- Fin del Header -->

    <!-- Inicio del Main -->
    
    <main>
        <h2>Formulario de edicion</h2>
        <form action="/productEdition/<%=producto.id%>?_method=PUT" method="POST" enctype="multipart/form-data" class="form">
            
            <div class="form-edit-products">
                <div class="title-form">
                    <label for="title">Titulo</label>
                    <input type="text" name="title" value="<%=producto.title%>" id = "title" >
                    
                    <!-- Errores -->

                    <% if (locals.errors && errors.title) { %>
                        <div class="text-danger">
                            <p><%= errors.title.msg %></p>
                        </div>
                    <% } %>
                    
                    <!-- Errores front-->
                <div class="error">
                    <small class="text-danger errorTitle"></small>
                </div>

                </div>
                
                <div class="price-form">
                    <label for="price">Precio</label>
                    <input type="text" name="price" value="<%= producto.price %> " id ="price">

                    <!-- Errores -->
                    <% if (locals.errors && errors.price) { %>
                        <div class="text-danger">
                            <p><%= errors.price.msg %></p>
                        </div>
                    <% } %>

                    <!-- Errores front -->
                <div class="error">
                    <small class="text-danger errorPrice"></small>
                </div>


                </div>

                <div class="category-form">
                    <label for="category">Categoria</label> 
                    <select name="category" id="category">
                        <% categories.forEach(category => { %>
                            <% if (category.id == producto.category_id) { %>
                                <option value="<%= category.id %>" selected><%=category.name%></option>
                                <% } else { %>
                                    <option value="<%= category.id %>"><%=category.name%></option>
                            <% } %>
                        <% }) %>
                    </select>
                </div>

                        <div class="file-submit-product boxImg">
                            <label for="imgProductos">Imagen del producto:</label>
                            <input type="file" name="imgProductos" id ="file">

                            <!-- Errores -->
                    <% if (locals.errors && errors.imgProductos) { %>
                        <div class="text-danger">
                            <p><%= errors.imgProductos.msg %></p>
                        </div>
                    <% } %>

                            <!-- Errores front -->
                            <div class="error">
                            <small class="text-danger errorFile"></small>
                            </div>


                        </div>

                <div class="description-submit-products" >
                    <label for="description" >Descripción:</label> 
                    
                    <textarea name="description" id="description" cols="0" rows="6"> <%=producto.description%> </textarea>

                    <!-- Errores -->
                <% if (locals.errors && errors.description) { %>
                    <div class="text-danger">
                        <p><%= errors.description.msg %></p>
                    </div>
                <% } %>

                    <!-- Errores front-->
                <div class="error">
                    <small class="text-danger errorDescription"></small>
                </div>
             </div>

            </div>

            <div class="button-edit-submit button">
                <button type="submit">Editar producto</button>
            </div> 

        </form>

    </main>

    <!-- Fin de Main -->

    <!-- Inicio del Footer -->
    
    <%- include('../partials/footer')  %> 

    <!-- Fin del Footer -->

    <!--Scripts-->
    <script src = '/js/ValidationsEditProducts.js'></script>
    <script src = "/js/index_Dom.js" type = "module"></script>
    <script src = "/js/Menu.js" type = "module"></script>

</body>
</html>